@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-muted: #eceef1;

  --foreground: #1a1a1a;
  --foreground-muted: #677289;
  --foreground-border: #e1e1e1;

  --action-primary: #2f72e2;
  --action-destructive: #ef494f;

  --orange: #f59d0e;
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-border: var(--foreground-border);

  --color-action-primary: var(--action-primary);
  --color-action-destructive: var(--action-destructive);

  --color-orange: var(--orange);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}